<header class="px-4 pt-4">
    <div class="card bg-secondary" style="width: 18rem;">
        <h3 class="fw-bold fs-3">Men&uacute;</h3>
        <div class="list-group">
            <ul class="flex divide-x mt-4">
                <li class="list-unstyled mt-3"><a class="px-4 text-white"
                    routerLinkActive="bg-sky-500" routerLink="/">Home</a></li>
                <li class="list-unstyled mt-3"><a class="px-4 text-white" 
                    routerLinkActive="bg-sky-500" routerLink="/peru">Per&uacute;</a></li>
                <li class="list-unstyled mt-3"><a class="px-4 text-white"
                    routerLinkActive="bg-sky-500" routerLink="/chile">Chile</a></li>
                <li class="list-unstyled mt-3"><a class="px-4 text-white"
                    routerLinkActive="bg-sky-500" routerLink="/uruguay">Uruguay</a></li>
            </ul>
        </div>
    </div>
</header>
